node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
*.lock

/android/build/
/android/app/build/
/android/app/.cxx/
/ios/build/
/ios/Pods/

ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*